mlflow==2.1.1
boto3
docker
minio
pytest
colorlog
xnat
monai
itk
fsspec
tqdm
pandas
matplotlib
GitPython
protobuf~=3.19.0 # temporary solution to avoid breaking changes made to 3rd party streamlit (necessary for mlflow) https://discuss.streamlit.io/t/typeerror-descriptors-cannot-not-be-created-directly/25639
PyYAML
requests~=2.27.1
click
setuptools