mlflow
# dvc~=2.0.5
boto3
docker
minio>=7.0.3
pytest>= 6.2
colorlog
fsspec
monai
scikit-build
itk
tqdm
pandas
matplotlib
xnat
GitPython
protobuf~=3.19.0 # temporary solution to avoid breaking changes made to 3rd party streamlit (necessary for mlflow) https://discuss.streamlit.io/t/typeerror-descriptors-cannot-not-be-created-directly/25639